<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>VueStyleBindingSample</title>
  </head>

  <body>
    <div id="app">
      <p>
        <span>大きさ:</span>
        <input v-model="range" type="range" max="500" min="10" />
        {{ range }}px
      </p>
      <p>
        <span>赤:</span>
        <input v-model="red" type="range" max="255" min="0" />
        {{ red }}
      </p>
      <p>
        <span>緑:</span>
        <input v-model="green" type="range" max="255" min="0" />
        {{ green }}
      </p>
      <p>
        <span>青:</span>
        <input v-model="blue" type="range" max="255" min="0" />
        {{ blue }}
      </p>
      <div :style="bindStyle">
      </div>
    </div>

    <a href="index.html">Index</a>
    <script src="./script/script6.js"></script>
  </body>
</html>